
*{
  box-sizing: border-box;
}
.invisible{
  visibility: hidden;
}
.add:hover{
  cursor: pointer;
}
body{
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  background: #A0F0FF;
  color: #1F3A93;
  margin: 0px;
}
nav{
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px 2px white;
  padding: 5px;
  background: #FFD712;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-home{
  font-size: 30px;
  flex-grow: 2;
}
.nav-home:hover{
  cursor: pointer;
}
.back-button{
  align-self: flex-start;
  display: flex;
  flex-grow: 1;
  color: #1F3A93;
  flex-shrink: 3;
}
.back-button:hover{
  cursor: pointer;
}
@media only screen and (max-width: 500px){
  .fa-chevron-left{
    font-size: 18px;
  }
  .back-button p{
    visibility: hidden;
    font-size: 12px;
  }
  .nav-home{
    font-size: 26px;
  }
}
.fa-chevron-left{
  font-size: 24px;
}
.back-button, p{
  display: inline-block;
}
.invisible-div{
  width: 61px;
  flex-grow: 1;
  flex-shrink: 3;
}
.hidden{
  display: none !important;
}
section{
  margin: 50px 10px;
}
p{
  font-size: 18px;
}
.start-page{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.start-page > h2{
  font-family: 'Fredoka One', cursive;
}
.start-page > h4{
  font-size: 22px;
}
.button-wrapper{
  background: white;
  width: auto;
  padding: 0px 5px;
  align-self: center;
  border-radius: 15px;
  margin: 20px 0px;
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  10% { transform: scale(1.08); }
  30% { transform: scale(1); }
  50% { transform: scale(1.08); }
  70% { transform: scale(1); }
  90% { transform: scale(1.08); }
}
.pulse:hover {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#js-start-button, #js-submit-text{
  font-family: 'Fredoka One', cursive;
}
input[type=submit]{
  padding: 15px;
  font-size: 28px;
  color: #1F3A93;
  font-weight: bold;
  min-width: 170px;
  margin: 10px 5px;
  background: #5CD208;
  border-radius: 10px;
  border: none;
  outline: none;
  text-shadow: 1px 1px 2px white;
}
input[type=submit]:hover{
  cursor: pointer;
}
.choice-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 545px){
  .main-page-choice{
    min-width: 150px !important;
    max-width: 150px !important;
    height: 200px !important;
    margin: 10px !important;
  }
  .main-page-choice > img{
    height: 192px !important;
    width: 140px !important;
  }
}
.main-page-choice{
  border: 7px #FFD712 solid;
  border-radius: 10px;
  padding: 0px;
  margin: 20px;
  flex: 1 1 0;
  min-width: 215px;
  max-width: 215px;
  height: 300px;
  color: #1F3A93;
  font-weight: bolder;
  position: relative;
}
.main-page-choice > img{
  height: 292px;
  width: 205px;
  object-fit: cover;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page-choice > p{
  z-index: 1;
  padding: 3px;
  font-size: 18px;
  margin: 0px;
  background: #FFD712;
  width: 100%;
}
.search-alphabetically{
  display: flex;
  flex-wrap: wrap;
}
.text-search{
  display: flex;
  flex-direction: column;
}
input[type=text]{
  font-size: 18px;
  width: 400px;
  padding: 15px 10px;
  align-self: center;
}
.search-alphabetically{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.search-alphabetically > h4{
  margin: 10px;
  font-size: 26px;
}
@media only screen and (max-width: 545px){
  .second-page-choice{
    min-width: 150px !important;
    max-width: 150px !important;
    height: 200px !important;
    margin: 10px !important;
  }
  .second-page-choice > img{
    height: 192px !important;
    width: 140px !important;
  }
}
.second-page-choice{
  border: 7px #FFD712 solid;
  border-radius: 10px;
  padding: 0px;
  margin: 20px;
  flex: 1 1 0;
  min-width: 215px;
  max-width: 215px;
  height: 300px;
  color: #1F3A93;
  font-weight: bolder;
  position: relative;
}
.second-page-choice > img{
  height: 292px;
  width: 205px;
  object-fit: cover;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.second-page-choice > p{
  z-index: 1;
  padding: 3px;
  font-size: 18px;
  margin: 0px;
  background: #FFD712;
  width: 100%;
}
.animal-name-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.animal-name{
  width: 150px;
  margin: 10px;
}
.animal-name{
  text-transform: capitalize;
}
.animal-page > h3{
  font-family: 'Fredoka One', cursive;
}
@media only screen and (max-width: 545px){
  .animal-card{
    min-width: 150px !important;
    max-width: 150px !important;
    height: 200px !important;
    margin: 10px !important;
  }
  .animal-card > img{
    height: 192px !important;
    width: 140px !important;
  }
}
.animal-card{
  border: 7px #FFD712 solid;
  border-radius: 10px;
  padding: 0px;
  margin: 20px;
  flex: 1 1 0;
  min-width: 215px;
  max-width: 215px;
  height: 300px;
  color: #1F3A93;
  font-weight: bolder;
  position: relative;
}
.animal-card h4{
  text-transform: capitalize;
  z-index: 1;
  padding: 3px;
  font-size: 18px;
  margin: 0px;
  background: #FFD712;
  width: 100%;
}
.animal-pic{
  height: 292px;
  width: 205px;
  object-fit: cover;
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.video-page{
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka One', cursive;
  margin: 10px !important;
}
@media screen and (min-width: 600px) {
    iframe {
        width: 450px !important;
    }
}
.flex-buttons{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%
}
.video-animal-name{
  text-transform: capitalize;
}
@media only screen and (max-width: 775px){
  .flex-buttons{
    flex-direction: column;
  }
}